### Include nfqws ( https://github.com/bol-van/zapret ) ~0.1MB
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Include AmneziaWG kernel module
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y

### Include router vendor icon to web interface
CONFIG_FIRMWARE_INCLUDE_VENDOR_LOGO=y

### Include QUIC support in Curl using ngtcp2, openssl 3.5 required ~0.5 MB
CONFIG_FIRMWARE_INCLUDE_QUIC_NGTCP2=y

### Include doh_proxy DNS-over-HTTPS (DoH) ~0.4MB
CONFIG_FIRMWARE_INCLUDE_DOH=y

### Include Curl support ~0.15MB
CONFIG_FIRMWARE_INCLUDE_CURL=y
