
### Include nfqws ( https://github.com/bol-van/zapret ) ~0.1MB
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Include AmneziaWG kernel module
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y

### Include router vendor icon to web interface
CONFIG_FIRMWARE_INCLUDE_VENDOR_LOGO=y

### Include QUIC support in Curl using ngtcp2, openssl 3.5 required ~0.5 MB
CONFIG_FIRMWARE_INCLUDE_QUIC_NGTCP2=y

### Include doh_proxy DNS-over-HTTPS (DoH) ~0.4MB
CONFIG_FIRMWARE_INCLUDE_DOH=y

### Include Curl support ~0.15MB
CONFIG_FIRMWARE_INCLUDE_CURL=y

### Include OpenVPN. IPv6 required. openssl ~1.2MB, openvpn ~0.4MB
#CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Include "tcpdump" utility. ~0.6MB
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Include CIFS (SMB) client. ~0.2MB
#CONFIG_FIRMWARE_INCLUDE_CIFS=y

### Include compressed memory support
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Include Shortcut Forward Engine
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

### Include Elliptic Curves (EC) to openssl library. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Include EoIP Ethernet Tunnels over IP ~0.01MB
CONFIG_FIRMWARE_INCLUDE_EOIP=y
