name: Check and Build artifacts test

on:
  workflow_dispatch:
    inputs:
      router_model:
        description: "Router model"
        type: choice
        required: true
        default: "ec220"
        options:
          - "ac12g"
          - "ec220"
          - "tplink-c5-v4-16M"

permissions:
  contents: write
  actions: read
  checks: read

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/arkuid/padavan-ng-test-2:latest
    defaults:
      run:
        shell: bash
    
    steps:
    - uses: actions/checkout@v4

    - name: Set router model
      run: |
        ROUTER_MODEL="${{ github.event.inputs.router_model }}"
        echo "ROUTER_MODEL=$ROUTER_MODEL" >> $GITHUB_ENV
        echo "Using router model: $ROUTER_MODEL"

    - name: Get configs
      run: |
        sed -i 's|\r$||g' build-${{ env.ROUTER_MODEL }}.config
        . <(cat build-${{ env.ROUTER_MODEL }}.config)
        for v in "${!PADAVAN_@}" "${!CONFIG_@}"; do
          echo "$v=${!v}" >> $GITHUB_ENV
        done

    - name: Download sources and toolchain
      run: |
        git config --global --add safe.directory '*'
        git clone -b new-test-drv "https://github.com/arkuid/padavan-ng.git"
        cd padavan-ng
        wget -q "https://github.com/arkuid/padavan-ng-test-2/releases/download/latest/toolchain.tzst"
        tar --zstd -xf toolchain.tzst
        rm toolchain.tzst

    - name: Apply patches and copy files
      run: |
        ROUTER_MODEL="${{ env.ROUTER_MODEL }}"
        cd padavan-ng
        cd ..
        # cp -r routers/configs/$ROUTER_MODEL/* padavan-ng/trunk/configs/
        cp build-$ROUTER_MODEL.config padavan-ng/trunk/.config
        # cp -rfv "routers/MT7620_AP_2T2R-4L_external_LNA_internal PA_V15.BIN" "padavan-ng/trunk/vendors/Mediatek/MT7620_AP_2T2R-4L_external_LNA_internal_PA_V15.bin"
        # cp -rfv "routers/MT7612E_EEPROM_layout_20131121_5G_iPAiLNA_wTSSI default slope offset.bin" "padavan-ng/trunk/vendors/Mediatek/MT7612E_EEPROM.bin"


    - name: Build firmware
      run: |
        cd padavan-ng/trunk
        ./clear_tree.sh
        ./build_firmware.sh

        FW_FILE_NAME="$(find images -type f -regextype posix-extended -iregex ".*\.(trx|bin)$" \
                        -printf "%T@\t%f\n" | sort -V | tail -1 | cut -f2)"
        [[ -n $FW_FILE_NAME ]] || { echo "Firmware file not found"; exit 1; }
        echo "FW_FILE_NAME=$FW_FILE_NAME" >> $GITHUB_ENV

    - name: Run custom post-build script
      run: '[[ -f post-build.sh ]] && . post-build.sh || :'

    - name: Prepare artifacts
      run: |
        cp "padavan-ng/trunk/images/$FW_FILE_NAME" .
        echo "BUILD_TIMESTAMP=$(date '+%Y.%m.%d_%H.%M.%S')" >> $GITHUB_ENV

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: padavan-ng_${{ env.CONFIG_VENDOR }}_${{ env.CONFIG_FIRMWARE_PRODUCT_ID }}_${{ env.BUILD_TIMESTAMP }}
        retention-days: 7
        path: |
          ${{ env.FW_FILE_NAME }}
          build.config

    - name: Check firmware size
      run: |
        partitions=padavan-ng/trunk/configs/boards/$CONFIG_VENDOR/$CONFIG_FIRMWARE_PRODUCT_ID/partitions.config
        max_fw_size="$(awk '/Firmware/ { getline; getline; sub(",", ""); print strtonum($2); }' "$partitions")"
        fw_size="$(stat -c %s "$FW_FILE_NAME")"

        if ((fw_size > max_fw_size)); then
          fw_size_fmtd="$(numfmt --grouping "$fw_size") bytes"
          max_fw_size_fmtd="$(numfmt --grouping "$max_fw_size") bytes"
          echo "Firmware size ($fw_size_fmtd) exceeds max size ($max_fw_size_fmtd) for your target device"
          exit 1
        fi
